body {
  background-color: lightgray;
}
body.dark {
  background-color: #333333;
  color: floralwhite;
}
body.dark > .strip:hover {
  color: black;
}

.strip:hover {
  color: white;
  font-style: italic;
  cursor: pointer;
}
header {
  padding: 2em;
}
#newColours {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60rem;

  background-color: red;
  border-radius: 50%;
}
/* .divs {
  display: flex;
} */
.strip {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  gap: 0.5em;
  border-radius: 5%;
  transition: all 0.5s;
}

/* Page Styles */
.center {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.width-sm {
  max-width: 20rem;
}
.width-md {
  max-width: 30rem;
}
.width-lg {
  max-width: 60rem;
}

.stack-sm > * + * {
  margin-top: 0.5rem;
}

.stack-md > * + * {
  margin-top: 1rem;
}

.stack-lg > * + * {
  margin-top: 2rem;
}

.stack-xl > * + * {
  margin-top: 4rem;
}

.row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 4rem;
}

.justify-space-between {
  justify-content: space-between;
}

/* Text styles */
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
